<h3>Home</h3>
<div class="container-fluid">
  <!--Seelct following items:-->
  <!--<input id="buttonA" class="treeItem" type="checkbox" />&nbsp;Scott Aasrud-->
  <!--<input id="buttonB" class="treeItem" type="checkbox" />&nbsp;Ted Lucas-->
  <!--<input id="buttonC" class="treeItem" type="checkbox" />&nbsp;Joao Stuger-->
  <div id="message"></div>
  <div id="basicdiagram" style="width: auto; height: 800px; top: 60px;" />
</div>
